Repository Mohaeng2023/Mohaeng, pull requests merged in 2023-04, with the labels that each got.

#99 [Fix] Course 공개 여부 Enum 타입으로 변경
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CourseStatus.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseRes.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepository.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryImpl.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/member/dto/response/MyPageCourseBookMarkDto.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceService.java
Labels: 🛠fix, 💛backend

#101 Refactor : 페이지네이션 바 css 수정
  frontend/src/components/Pagenation/Pagebar.module.css
Labels: 💚frontend, ⚡refactor

#110 [Feat] 예외 처리 Handler 구성
  backend/src/main/java/com/mohaeng/backend/exception/ErrorCode.java
  backend/src/main/java/com/mohaeng/backend/exception/ExceptionResponse.java
  backend/src/main/java/com/mohaeng/backend/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/mohaeng/backend/exception/badrequest/BadRequestException.java
  backend/src/main/java/com/mohaeng/backend/exception/badrequest/InvalidKeywordPlaceInCourse.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/CourseNotFoundException.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/NotFoundException.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/PlaceNotFoundException.java
  backend/src/main/java/com/mohaeng/backend/exception/unauthrized/MemberPermissionDenied.java
  backend/src/main/java/com/mohaeng/backend/exception/unauthrized/UnauthorizedException.java
Labels: 💛backend, ✨feat

#112 [Fix] ExceptionHandler에 맞춰 Test 수정
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/exception/ErrorCode.java
  backend/src/main/java/com/mohaeng/backend/exception/badrequest/InvalidCourseBookmark.java
  backend/src/main/java/com/mohaeng/backend/exception/badrequest/InvalidCourseLikes.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/CourseBookmarkNotFoundException.java
  backend/src/main/java/com/mohaeng/backend/exception/notfound/CourseLikesNotFoundException.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseLikesControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseBookmarkServiceTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseLikesServiceTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 🛠fix, 💛backend, ✨feat

#114 Fix : 시작 페이지 관련 이슈 [#113]
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
Labels: 🛠fix, 💛backend

#121 Feat : 북마크 여부 확인 필드 추가 [#120]
  backend/src/main/java/com/mohaeng/backend/place/controller/PlaceController.java
  backend/src/main/java/com/mohaeng/backend/place/dto/FindAllPlacesDto.java
  backend/src/main/java/com/mohaeng/backend/place/dto/PlaceSearchDto.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepository.java
Labels: 💛backend, ✨feat

#122 Feature/fe/UI/mypage
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Modal/DeleteMemberModal.module.css
  frontend/src/components/Modal/DeleteMemberModal.tsx
  frontend/src/components/Modal/GlobalModal.tsx
  frontend/src/components/Mypage/UserBookmark.module.css
  frontend/src/components/Mypage/UserBookmark.tsx
  frontend/src/components/Mypage/UserBookmarkItem.module.css
  frontend/src/components/Mypage/UserBookmarkItem.tsx
  frontend/src/components/Mypage/UserEdit.tsx
  frontend/src/components/Mypage/UserInfo.tsx
  frontend/src/components/Place/PlaceItem.tsx
  frontend/src/components/Place/PlaceList.tsx
  frontend/src/pages/mypage/bookmark/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/place/index.tsx
  frontend/src/store/reducers/CourseBoomarkSlice.ts
  frontend/src/store/reducers/PlaceBookmarkSlice.ts
  frontend/src/store/reducers/PlaceSlice.ts
  frontend/src/store/reducers/mypageSlice.ts
  frontend/src/store/store.ts
Labels: 💚frontend, ✨feat

#132 Fix : 장소 전체 조회 response 수정
  backend/src/main/java/com/mohaeng/backend/place/dto/FindAllPlacesDto.java
  backend/src/main/java/com/mohaeng/backend/place/dto/PlaceSearchDto.java
Labels: 🛠fix, 💛backend

#134 Fix : ControllerTest 추가 및 변경 [#111]
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseBookmarkControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseLikesControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💻test, 💛backend

#136 Refactor : 코스 구현 리팩토링(1)
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseBookmarkController.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/MainCourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseBookmarkService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseBookmarkControllerTest.java
Labels: 💛backend, ⚡refactor

#137 Refactor : 코스 구현 리팩토링(2)
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseRes.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💛backend, ⚡refactor

#138 Feature/fe/UI/mypage
  frontend/src/components/Layout/Header.module.css
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Mypage/MyCourseItem.module.css
  frontend/src/components/Mypage/Sidebar.tsx
  frontend/src/components/Mypage/UserBookmark.module.css
  frontend/src/components/Mypage/UserBookmarkItem.module.css
  frontend/src/components/Mypage/UserEdit.module.css
  frontend/src/components/Mypage/UserEdit.tsx
  frontend/src/components/Mypage/UserInfo.module.css
  frontend/src/components/Mypage/UserInfo.tsx
  frontend/src/components/Place/PlaceItem.module.css
  frontend/src/components/Place/PlaceItem.tsx
  frontend/src/components/Place/PlaceList.tsx
  frontend/src/components/PlaceDetail/PlaceDetail.tsx
  frontend/src/pages/place/index.tsx
  frontend/src/store/reducers/PlaceSlice.ts
Labels: 💚frontend, ⚡refactor, 🎨design, ✨feat

#140 [Fix] 장소 상세 조회 응답 수정
  backend/src/main/java/com/mohaeng/backend/place/controller/PlaceController.java
  backend/src/main/java/com/mohaeng/backend/place/dto/PlaceDetailsDto.java
  backend/src/main/java/com/mohaeng/backend/place/dto/response/PlaceDetailsResponse.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepository.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceService.java
Labels: 🛠fix, 💛backend

#141 Refactor : 장소 북마크 여부 필드 이름 변경
  backend/src/main/java/com/mohaeng/backend/place/dto/FindAllPlacesDto.java
  backend/src/main/java/com/mohaeng/backend/place/dto/PlaceSearchDto.java
Labels: 💛backend, ⚡refactor

#150 [Refactor] course 전체 조회, 업데이트 리팩토링
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
Labels: 💛backend, ⚡refactor

#154 [Feat] API KYE 설정 분리
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.properties
Labels: 💛backend, ⚡refactor, ✨feat

#155 [Refactor] 코스 기능 리팩토링3
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseBookmarkController.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseLikesController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListPlaceDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/MainCourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepository.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryCustom.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryImpl.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseBookmarkControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseLikesControllerTest.java
Labels: 🛠fix, 💛backend, ⚡refactor

#162 Feature/fe/UI/mypage
  frontend/next.config.js
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Modal/DeleteMemberModal.module.css
  frontend/src/components/Modal/DeleteMemberModal.tsx
  frontend/src/components/Mypage/Dropdown.tsx
  frontend/src/components/Mypage/MyCourse.tsx
  frontend/src/components/Mypage/MyCourseItem.module.css
  frontend/src/components/Mypage/MyCourseItem.tsx
  frontend/src/components/Mypage/MyReview.module.css
  frontend/src/components/Mypage/MyReview.tsx
  frontend/src/components/Mypage/MyReviewItem.module.css
  frontend/src/components/Mypage/MyReviewItem.tsx
  frontend/src/components/Mypage/UserBookmark.tsx
  frontend/src/components/Mypage/UserBookmarkItem.module.css
  frontend/src/components/Mypage/UserBookmarkItem.tsx
  frontend/src/components/Place/PlaceItem.tsx
  frontend/src/components/Place/PlaceList.tsx
  frontend/src/components/PlaceDetail/PlaceDetail.tsx
  frontend/src/components/Review/CreateReview.tsx
  frontend/src/components/Review/EditReview.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/place/[id].tsx
  frontend/src/pages/place/index.tsx
  frontend/src/store/reducers/CourseBoomarkSlice.ts
  frontend/src/store/reducers/PlaceSlice.ts
  frontend/src/store/reducers/myCourseSlice.ts
  frontend/src/store/reducers/myReviewSlice.ts
  frontend/src/store/store.ts
Labels: 💚frontend, ✨feat

#170 Feature/fe/UI/mypage
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.js
  frontend/package-lock.json
  frontend/src/components/Main/PlaceCard.tsx
  frontend/src/components/Modal/GlobalModal.tsx
  frontend/src/components/Mypage/MyCourseItem.module.css
  frontend/src/components/Mypage/MyCourseItem.tsx
  frontend/src/components/Mypage/MyReview.tsx
  frontend/src/components/Mypage/MyReviewItem.tsx
  frontend/src/components/Mypage/UserBookmark.tsx
  frontend/src/components/Mypage/UserBookmarkItem.tsx
  frontend/src/components/Mypage/UserEdit.tsx
  frontend/src/components/Place/PlaceItem.tsx
  frontend/src/components/PlaceDetail/PlaceDetail.tsx
  frontend/src/pages/course/[id].tsx
  frontend/src/pages/mypage/bookmark/index.module.css
  frontend/src/pages/mypage/bookmark/index.tsx
  frontend/src/pages/place/index.tsx
  frontend/src/store/reducers/PlaceBookmarkSlice.ts
  frontend/src/store/reducers/myReviewSlice.ts
  frontend/yarn.lock
Labels: 🛠fix, ⚡refactor

#175 [Fix] 코스 전체 조회 버그 수정
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryImpl.java
Labels: 🛠fix, 💛backend

#180 Feature/fe/UI/mypage
  backend/Dockerfile
  backend/nginx/conf.d/app.conf
  docker-compose.yml
  frontend/Dockerfile
  frontend/next.config.js
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Mypage/UserEdit.tsx
  frontend/src/pages/course/create-course/index.module.css
  frontend/src/pages/course/create-course/index.tsx
  frontend/src/pages/login/index.module.css
  frontend/src/pages/login/index.tsx
  frontend/src/pages/mypage/index.tsx
Labels: ⚡refactor, 🎨design

#181 [Refactor] Course Entity 수정
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
Labels: 💛backend, ⚡refactor

#205 [fix] 코스 상세 응답값 변경
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseUpdateReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseRes.java
Labels: 🛠fix, 💛backend

#206 Fix : 유저 프로필 이미지 url 수정
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseRes.java
Labels: 🛠fix, 💛backend
