Repository Mohaeng2023/Mohaeng, pull requests merged in 2023-03, with the labels that each got.

#21 [Feat] BaseEntity 생성 및 이동
  backend/src/main/java/com/mohaeng/backend/common/BaseResponse.java
  backend/src/main/java/com/mohaeng/backend/common/BaseTimeEntity.java
Labels: backend, refactor, feat

#22 [Refactor] BaseTimeEntity package 수정
  backend/src/main/java/com/mohaeng/backend/common/BaseTimeEntity.java
Labels: backend, refactor

#26 [Feat] 코스 작성시 장소 검색
  backend/build.gradle
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CoursePlace.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CoursePlaceSearchDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CoursePlaceSearchReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CoursePlaceSearchRes.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/place/domain/Place.java
  backend/src/main/java/com/mohaeng/backend/place/domain/PlaceImage.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceImageRepository.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepository.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryCustom.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: test, backend, feat

#30 User를 Member로 변경하였습니다.
  backend/src/main/java/com/mohaeng/backend/config/SecurityConfig.java
  backend/src/main/java/com/mohaeng/backend/member/controller/LoginController.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Role.java
  backend/src/main/java/com/mohaeng/backend/member/dto/MemberLoginDto.java
  backend/src/main/java/com/mohaeng/backend/member/dto/SessionMember.java
  backend/src/main/java/com/mohaeng/backend/member/oauth/OAuthAttributes.java
  backend/src/main/java/com/mohaeng/backend/member/oauth/OAuthService.java
  backend/src/main/java/com/mohaeng/backend/member/repository/MemberRepository.java
  backend/src/main/java/com/mohaeng/backend/member/service/RandomNameService.java
  backend/src/main/java/com/mohaeng/backend/place/entity/Member.java
  backend/src/main/java/com/mohaeng/backend/place/repository/MemberRepository.java
  backend/src/main/java/com/mohaeng/backend/place/service/MemberService.java
  backend/src/main/java/com/mohaeng/backend/user/dto/SessionUser.java
  backend/src/main/java/com/mohaeng/backend/user/repository/UserRepository.java
  backend/src/test/java/com/mohaeng/backend/member/service/RandomNameServiceTest.java
  backend/src/test/java/com/mohaeng/backend/service/MemberServiceTest.java
Labels: 💛backend, ⚡refactor

#39 Fix: 세션설정에 대한 오류 수정
  backend/src/main/java/com/mohaeng/backend/config/SecurityConfig.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Role.java
Labels: 🛠fix, 💛backend

#40 Refactor: Place Entity 변경으로 인한 코드 수정
  backend/src/main/java/com/mohaeng/backend/place/domain/Place.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💛backend, ⚡refactor

#52 [Fix] 코스 내 장소 검색 버그 수정
  backend/src/main/java/com/mohaeng/backend/common/BaseResponse.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CoursePlaceSearchDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CoursePlaceSearchReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CoursePlaceSearchRes.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 🛠fix, 💛backend

#53 [Feat] 코스 생성
  backend/build.gradle
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CoursePlace.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseIdRes.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CoursePlaceRepository.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💻test, 💛backend, ✨feat

#56 [Feat] 코스 수정 및 삭제
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseUpdateReq.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💻test, 💛backend, ✨feat

#61 [Feat] 코스 전체 조회 및 코스 검색
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListPlaceDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseSearchDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseListRes.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepository.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryCustom.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryImpl.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 💻test, 💛backend, ✨feat

#68 [Fix] 여행지 push 관련 이슈로 Course 수정 및 리팩토링
  backend/src/main/java/com/mohaeng/backend/config/SecurityConfig.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CoursePlace.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/initDb.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
  backend/src/main/java/com/mohaeng/backend/place/domain/AddPlace.java
  backend/src/main/java/com/mohaeng/backend/place/domain/Place.java
  backend/src/main/java/com/mohaeng/backend/place/repository/AddPlaceRepository.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
  backend/src/main/java/com/mohaeng/backend/place/service/AddPlaceService.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
  backend/src/test/java/com/mohaeng/backend/service/AddPlaceCreateServiceTest.java
Labels: 🛠fix, 💛backend, ⚡refactor

#69 [Feat] 코스 좋아요
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseLikesController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CourseLikes.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseLikesRes.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseLikesRepository.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/controller/CourseLikesControllerTest.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseLikesServiceTest.java
Labels: 💻test, 💛backend, ✨feat

#77 [Feat] 코스 북마크
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseBookmarkController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CourseBookmark.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseBookmarkRes.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseBookmarkRepository.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/member/domain/CourseBookMark.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
Labels: 💛backend, ✨feat

#78 [Feat] 메인페이지 코스 조회
  backend/build.gradle
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseLikesController.java
  backend/src/main/java/com/mohaeng/backend/course/dto/CourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/MainCourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepository.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseServiceTest.java
Labels: 🛠fix, 💛backend, ⚡refactor, ✨feat

#81 [Fix] PlaceImage Entity 삭제 및 변경
  backend/src/main/java/com/mohaeng/backend/course/dto/CoursePlaceSearchDto.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CoursePlaceSearchReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CoursePlaceSearchRes.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/place/domain/Place.java
  backend/src/main/java/com/mohaeng/backend/place/domain/PlaceImage.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceImageRepository.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryCustom.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepositoryImpl.java
Labels: 🛠fix, 🗑remove, 💛backend

#82 [Fix] 코스에서 날짜 타입 변환 및 리팩토링
  backend/build.gradle
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseUpdateReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/response/CourseRes.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
Labels: 🛠fix, 💛backend, ⚡refactor

#85 Feature/fe/UI/mypage
  .gitignore
  README.md
  backend/Dockerfile
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  frontend/.gitignore
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/ButtonStyle.tsx
  frontend/src/components/Course/CourseList.tsx
  frontend/src/components/Layout/Header.module.css
  frontend/src/components/Layout/Header.tsx
  frontend/src/components/Layout/SidebarLayout.tsx
  frontend/src/components/Login/KakaoLogin.tsx
  frontend/src/components/Mypage/MyCourseItem.module.css
  frontend/src/components/Mypage/MyCourseItem.tsx
  frontend/src/components/Mypage/Sidebar.module.css
  frontend/src/components/Mypage/Sidebar.tsx
  frontend/src/components/Mypage/UserInfo.module.css
  frontend/src/components/Mypage/UserInfo.tsx
  frontend/src/components/Place/PlaceFilter.module.css
  frontend/src/components/Place/PlaceFilter.tsx
  frontend/src/components/Place/PlaceItem.module.css
  frontend/src/components/Place/PlaceItem.tsx
  frontend/src/components/Place/PlaceList.module.css
  frontend/src/components/Place/PlaceList.tsx
  frontend/src/interfaces/Auth.ts
  frontend/src/interfaces/Place.ts
  frontend/src/pages/api/JSON/bookmarkCourse.json
  frontend/src/pages/api/JSON/bookmarkPlace.json
  frontend/src/pages/api/JSON/place.json
  frontend/src/pages/api/bookmarkCourse.ts
  frontend/src/pages/mypage/MypageLayout.module.css
  frontend/src/pages/mypage/bookmark/index.module.css
  frontend/src/pages/mypage/bookmark/index.tsx
  frontend/src/pages/mypage/edit/index.module.css
  frontend/src/pages/mypage/edit/index.tsx
  frontend/src/pages/mypage/index.tsx
  frontend/src/pages/mypage/layout.tsx
  frontend/src/pages/mypage/post/index.tsx
  frontend/src/pages/place/index.module.css
  frontend/src/pages/place/index.tsx
  frontend/yarn.lock
Labels: 💚frontend, ⚡refactor, ✨feat

#90 [Fix] 코스 내 장소 검색 Response 수정
  backend/src/main/java/com/mohaeng/backend/course/dto/CoursePlaceSearchDto.java
Labels: 🛠fix, 💛backend
