Repository Mohaeng2023/Mohaeng, pull requests merged in 2023-05, with the labels that each got.

#227 [Fix] 코드 리팩토링 및 설정 변경
  backend/build.gradle
  backend/nginx/conf.d/app.conf
  backend/src/main/java/com/mohaeng/backend/course/controller/CourseController.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseBookmarkRepository.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/exception/GlobalControllerAdvice.java
  backend/src/main/resources/application.properties
  docker-compose.yml
Labels: 💛backend

#239 Refactor: 장소 상세보기 contentId 사용에서 placeId 사용으로 변경, PlaceNotFoundException 변경
  backend/src/main/java/com/mohaeng/backend/place/controller/PlaceController.java
  backend/src/main/java/com/mohaeng/backend/place/controller/ReviewController.java
  backend/src/main/java/com/mohaeng/backend/place/dto/response/FindAllReviewResponse.java
  backend/src/main/java/com/mohaeng/backend/place/dto/response/FindReviewResponse.java
  backend/src/main/java/com/mohaeng/backend/place/dto/response/FindSearchReviewsResponse.java
  backend/src/main/java/com/mohaeng/backend/place/exception/PlaceNotFoundException.java
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepository.java
  backend/src/main/java/com/mohaeng/backend/place/repository/ReviewRepository.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceService.java
  backend/src/main/java/com/mohaeng/backend/place/service/ReviewService.java
  backend/src/main/resources/application.properties
Labels: 💛backend, ⚡refactor

#240 Refactor: 리뷰수정 오류 해결, 리뷰응답관련 response에 placeId,contentId, name 추가
  backend/src/main/java/com/mohaeng/backend/place/service/ReviewService.java
Labels: 🛠fix, 💛backend, 🐎comment

#251 Refactor: init 메서드 데이터 중복 추가 문제 해결, 쓰지 않는 메서드 삭제
  backend/src/main/java/com/mohaeng/backend/place/repository/PlaceRepository.java
Labels: 🛠fix, 💛backend

#274 [Fix] BaseTimeEntity의 deletedDate 수정
  backend/src/main/java/com/mohaeng/backend/common/BaseTimeEntity.java
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CourseBookmark.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CourseLikes.java
  backend/src/main/java/com/mohaeng/backend/course/domain/CoursePlace.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
Labels: 🛠fix, 💛backend

#276 [Fix] 코스 삭제시 좋아요, 북마크 함께 삭제 처리
  backend/src/main/java/com/mohaeng/backend/course/dto/MainCourseListDto.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseBookmarkRepository.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseLikesRepository.java
  backend/src/main/java/com/mohaeng/backend/course/repository/CourseRepositoryImpl.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/resources/initImage/everytrip.png
Labels: 🛠fix, 💛backend, ✨feat

#304 [Fix] Member Entity 조건 수정
  backend/src/main/java/com/mohaeng/backend/course/domain/Course.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseLikesService.java
  backend/src/main/java/com/mohaeng/backend/course/service/CourseService.java
  backend/src/main/java/com/mohaeng/backend/member/controller/MyPageController.java
  backend/src/main/java/com/mohaeng/backend/member/domain/Member.java
  backend/src/main/java/com/mohaeng/backend/member/jwt/JwtFilter.java
  backend/src/main/java/com/mohaeng/backend/member/repository/MemberRepository.java
  backend/src/main/java/com/mohaeng/backend/member/service/MemberService.java
  backend/src/main/java/com/mohaeng/backend/member/service/MyPageCourseService.java
  backend/src/main/java/com/mohaeng/backend/member/service/MyPageService.java
  backend/src/main/java/com/mohaeng/backend/place/controller/PlaceController.java
  backend/src/main/java/com/mohaeng/backend/place/service/PlaceBookmarkService.java
  backend/src/main/java/com/mohaeng/backend/place/service/ReviewService.java
  backend/src/test/java/com/mohaeng/backend/course/service/CourseBookmarkServiceTest.java
Labels: 🛠fix, 💛backend

#307 [Fix] 코스 제목 글자수 제한 변경
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseReq.java
  backend/src/main/java/com/mohaeng/backend/course/dto/request/CourseUpdateReq.java
Labels: 🛠fix, 💛backend
